@use "../ejercicio_4_1/herencia";
@use "../ejercicio_4_1/mixins";
@use "../ejercicio_4_1/nesting";
@use "../ejercicio_4_1/operadores";

// COMPILAR --> npx sass src/ejercicio_4_3/main.scss src/ejercicio_4_3/mystyle.css
