@use "sass:color";

@function alter-text-color($background-color){
    @return rgb(
        255 - color.channel($background-color, 'red', $space: rgb),
        255 - color.channel($background-color, 'green', $space: rgb),
        255 - color.channel($background-color, 'blue', $space: rgb),
    );
}

$p-background: rgb(255, 160, 122);
$p-text: rgb(205, 92, 92);
$tolerance: 50;

p {
    background-color: $p-background;
    @if abs(color.channel($p-background, "red", $space: rgb) - color.channel($p-text, "red", $space: rgb)) <= $tolerance
     or abs(color.channel($p-background, "green", $space: rgb) - color.channel($p-text, "green", $space: rgb)) <= $tolerance
     or abs(color.channel($p-background, "blue", $space: rgb) - color.channel($p-text, "blue", $space: rgb)) <= $tolerance {
        color: alter-text-color($p-background);
    } @else {
        color: $p-text;
    }
}

